.footer {
    width: 100%;
    padding: 20px;
    background-color: aqua;
    display: flex;
}

.text {
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    /* height:1rem; */
    /* display: flex;
    justify-content: center; */
    margin-left: 10rem;
    font-weight: bolder;
}

.footer-image {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  flex-grow: 0.65;
  align-items:flex-end;
}

.footer-image-list {
    display: flex;
    gap: 5em;
    align-items: center;
}

.footer-image-list img {
  max-height: 40px ;
  max-width: 35px;
}


@media screen and (max-width:800px) {
  .text{
    margin-left: 1rem;
  }
  .footer-image-list {
    gap: 2em;
}
}

@media screen and (max-width:600px) {
  .text{
    font-size: 2rem;
    margin-left: 1rem;
  }
  .footer-image-list {
    gap: 3em;
}
.footer-image-list img {
  max-height: 25px ;
  max-width: 20px;
}
}

@media screen and (max-width:490px) {
  .text{
    margin: 0;
    font-size: 1.5rem;
  }
  .footer-image-list {
    gap: 1.5em;
}
}